:root { 
--gray_900_02:#191919; 
--gray_600:#7f7f7f; 
--gray_700:#666666; 
--gray_500:#999999; 
--gray_800:#4c4c4c; 
--gray_900_00:#26262600; 
--gray_900:#141414; 
--gray_900_01:#262626; 
--gray_900_00_01:#19191900; 
--gray_300:#e3e3e7; 
--yellow_A400:#ffe500; 
--deep_purple_A100_00:#a584f900; 
--white_A700_19:#ffffff19; 
--deep_purple_A100:#a584f9; 
--deep_purple_A200:#6f3bf6; 
--blue_gray_900:#333333; 
--white_A700:#ffffff; 
--deep_purple_A200_00:#6f3bf600; 
}